{% load staticfiles %}
<html>
    <head>
        <title>AgendaVault 2</title>
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <link rel="stylesheet" href="{% static 'css/foundation-icons.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/components-font-awesome/css/font-awesome.min.css' %}">
    </head>
<body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Tasks</li>
        </ul>
      </div>
    </div>
    {% block content %}
    {% endblock %}
    <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bower_components/js-cookie/src/js.cookie.js' %}"></script>
    <script src="{% static 'bower_components/what-input/what-input.js' %}"></script>
    <script src="{% static 'bower_components/foundation-sites/dist/foundation.js' %}"></script>
    <script src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>